.App {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
  width: 100vw;
  user-select: none;
}

.Title {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}
.Title::after {
  content: " ";
  display: block;
  height: 5px;
  width: 100px;
  background-color: red;
  margin: 7px auto 5px auto;
}
